<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Hackathon Typing Game</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'/>
  <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css'/>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>

    {{{body}}}

  <footer>
    <div class="footer clearfix">
      <div class="copy col-sm-4">
        <p>(C) 2013 by aalba, jyee, rthe</p>
      </div>
      <div class="powered col-sm-4 col-sm-offset-4">
        <p>Powered by <a href="http://www.twitter.com" target="_blank"><img src="/images/twitter.png" height="40" width="40">Twitter</a></p>
      </div>
    </div>
  </footer>
</div>
</body>

</html>
