<div class="home-page col-sm-8 col-sm-offset-2">
  <h1 class="page-header" style="text-align:center">Title</h1>
  <div class="name form-group">
    <label for="name" class="col-sm-1 col-sm-offset-3">Name</label>
    <div class="col-sm-4">
      <input class="user-name form-control" data-type="name" />
    </div>
  </div>
  <div class="search form-group">
    <label class="col-sm-offset-3 col-sm-1"><img src="/images/hashtag1.jpg" alt="" width="50px" height="40px"></label>
    <div class="col-sm-4">
      <input class="user-name form-control" data-type="name" />
    </div>
    <div class="col-sm-1">
      <button class="btn btn-success">Start</button>
    </div>
  </div>
</div>