<script src="/scripts/home.js"></script>
<div class="home-page col-sm-8 col-sm-offset-2">
  <h1 class="page-header" style="text-align:center">Title</h1>
  <form action="search" method="post">
    <div class="name form-group">
      <label for="name" class="col-sm-1 col-sm-offset-3">Name</label>
      <div class="col-sm-4">
        <input class="form-control" data-type="name" id='user-name' name="user_name" />
      </div>
    </div>
    <div class="search form-group">
      <label class="col-sm-offset-3 col-sm-1"><img src="/images/hashtag.png" alt="" width="50px" height="40px"></label>
      <div class="col-sm-4">
        <input class="form-control" data-type="name" placeholder="twitter search" id="input-search"  name="search"/>
      </div>
      <div class="col-sm-1">
        <input type="submit" value="Submit" class="btn btn-success" id="search-input">
      </div>
    </div>
  </form>
</div>