<div id="countdown">
  <h2></h2>
</div>

<div id="game">

  <h2>Round 1</h2>

  <ul>
  {{#each tweets}}
    <li>{{text}}</li>
  {{/each}}
  </ul>

  <input type="text" name"typingArea" id="typingArea" autofocus="autofocus" size="130">

</div>