body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.name {
  height: 50px;
}

input {
  height: 30px;
  font-size: 14px !important;
}
.tweets-ul{
  list-style: none;
}
.twitter{
  position: relative;
  padding: 15px;
  margin: 10px 0 0.5em;
  color: #333;
  background: #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.twitter p {font-size:28px; line-height:1.25em;}

.twitter:after {
  content:"";
  position:absolute;
  top:-30px;
  left:50px;
  border:15px solid transparent;
  border-bottom-color:#eee;
    display:block;
    width:0;
}
#form-search{
  height: 200px;
}
.footer{
  margin-top: 200px;
}

#countdown{
  color: green;
  font-weight: bold;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}